.info{
    font-family: "Palatino Linotype";
}
#description{
    text-decoration: none;
}
#speed{
    text-decoration: none;
}
#name{
    text-decoration: none;
}
#ftemp{
    text-decoration: none;
}
#ctemp{
    text-decoration: none;
}


